---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Blog">
    <p>
        I've recently begun to write some blog posts and am planning to become more active in the dev community. You can view my posts to Dev.to.
    </p>
</Layout>