---
import Layout from "../../layouts/Layout.astro";

const posts = await Astro.glob('./*.md')
---
<Layout>

    <ul>
        {
            posts.map(p => (
                <li>
                    {
                        p.frontmatter.title
                    }
                </li>
            ))
        }
    </ul>
</Layout>