---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Blog">
    <div class="max-w-3xl">
       <p class="text-base sm:text-lg mt-5 text-gray-800">
            I write about some my thoughts and projects. Mainly about JS frameworks, Laravel and Tailwindcss.
        </p>
    <ul class="mt-5">
        {
            
        }
    </ul>
</div>

</Layout>