---
import LinkBox from "../../components/LinkBox.astro";
import Layout from "../../layouts/Layout.astro";

const response = await fetch(
  "https://dev.to/api/articles?username=vincentdorian"
);

const devToBlogPosts: Array<{
  published_at: string;
  tag_list: Array<string>;
  title: string;
  url: string;
}> = await response.json();
---

<Layout title="Blog">
  <section>
    <div class="prose prose-p:font-[350] prose-strong:font-[500] mt-5">
      <p>
        I've recently started to write some blog posts and am planning to become
        more active in the dev community. Here you can view a list of my posts
        on Dev.to.
      </p>
    </div>

    <div class="mt-5 max-w-2xl">
      <ul>
        {
          devToBlogPosts.map((post) => (
            <li class="my-3 py-2 w-full block ">
              <a href={post.url}
                class="group"
              >
                <span class="tracking-wide text-sm block text-gray-600">
                  {new Date(post.published_at).toDateString()}
                </span>
                <span class="tracking-wide block text-gray-600 group-hover:text-gray-900">{post.title}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
