---
import ContactForm from "../../components/ContactForm";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Contact">
  <section>
    <div class="prose prose-p:font-light prose-strong:font-normal mt-5">
      <p>
        If you want to reach out to me, you can always send me a DM on any of my
        social media or just use the following contact form.
      </p>
    </div>
    <ContactForm client:idle></ContactForm>
  </section>
</Layout>
