---
import LinkBox from "../components/LinkBox.astro";
import Layout from "../layouts/Layout.astro"
import {Content} from "../pages/about.mdx"
---
<Layout title="About">
    <section>
		<div class="prose prose-p:font-light prose-strong:font-normal mt-5">
			<Content />
		</div>

        <div class="mt-7 flex flex-row gap-3">
			<LinkBox href={'https://twitter.com/vdoedev'}>Follow me on Twitter</LinkBox>

			<LinkBox href={'https://www.strava.com/athletes/106008249'}>Connect on Strava</LinkBox>
		</div>
    </section>
</Layout>