---
import Layout from "../layouts/Layout.astro"
---
<Layout>
	<div class="max-w-3xl">
        <h1 class="text-3xl sm:text-4xl font-bold">
            Pleased to meet 🤝
        </h1>

        <p class="text-base sm:text-lg mt-5">
            Now that I think about it, my path in web development was partly already laid in 2014-2016 when I went to August-Bebel-Schule (Offenbach, Germany) a high school with a focus on <italic>media design.</italic>
            Here, I made my first experience with web design and static HTML, however the biggest gain back then was learning about basic design principles and how to apply them.
        </p>

        <p class="text-base sm:text-lg mt-5">
            After graduating and spending some time abroad, I began studying Advanced Technology at the University of Twente (Enschede, Netherlands) in 2017. 
            This Bachelor of Science program was a mix of interdisciplinary fields, ranging from electrical engineering, advanced mechanics, mechatronics and robotics to technical computer science and systems engineering.
            During my studies I was was tought the fundamentals of Computer Science, basics in hard- and software engineering and writing algorithms using languages like C, C++, Python and Java.
            Back then I was looking forward to a career in the fields of Robotics, which had turnt out to have come differently.
        </p>

        <p class="text-base sm:text-lg mt-5">
            In 2021 I finished my BSc thesis about virtual agents in Augmented Reality used in primary education.
            This work was an explorative study where I have designed a virtual robot in AR on a mobile device, that should assist children while doing their homework to foster learning motivation.
            I think this way of human computer interaction will play a major role in the future of society and looking at the current emergence of artificial intelligence and its implications.
        </p>

        <p class="text-base sm:text-lg mt-5">
            All together my educational background has prepared my quite well for all the challenges I am encountering in my daily work.
            Having a design and engineering background also helps me to create user centered products that run reliably and performant.
        </p>

        <p class="text-base sm:text-lg mt-5">
            After graduating in April 2021, I got my first job at EX-IT, working on three main projects based on Laravel and VueJS.
        </p>
    </div>
</Layout>