---
import LinkBox from "../components/LinkBox.astro";
import Layout from "../layouts/Layout.astro";
import {Content} from "./home.mdx"
---

<Layout title="Vincent Dorian">
	<section>
		<div class="mt-5 prose  prose-p:font-[350] prose-strong:font-[500]">
			<Content />
		</div>
		<div class="mt-7 flex flex-row gap-3 flex-wrap">
			<LinkBox href={'https://www.linkedin.com/in/vincent-schilling-758246251/'}>Connect on LinkedIn</LinkBox>

			<LinkBox href={'/contact'}>Leave a message</LinkBox>

			<LinkBox href={'https://virtualvince.vincentdorian.me'}>Have a chat with Virtual Vince</LinkBox>
		</div>
	</section>
</Layout>