---
import Layout from "../layouts/Layout.astro";
---
<Layout>
	<div class="max-w-3xl">
		<h1 class="text-3xl sm:text-4xl font-bold">Hi there 👋 </h1>

		<p class="text-base sm:text-lg mt-5">
			My name is Vincent. I am a <strong>full-stack developer</strong> building <strong>fast, reliable and easy-to-use web applications.</strong>

			I am always enthusiasthic about new technologies, trying to find the optimal way to create the <strong>best user experience</strong> possible and chasing after the <strong>perfect lighthouse scores.</strong>
		</p>

		<p class="text-base sm:text-lg mt-5">
			I have a well-founded proficiencies with <strong>Javascript</strong> and <strong>PHP</strong> and experience with modern rendering frameworks like <strong>Svelte, React, Vue and Astro</strong>, as well as technologies and meta-frameworks like <strong>NextJS, SvelteKit, NuxtJS, Typescript, Laravel and Tailwindcss</strong>, just to name a few.
		</p>

		<p class="text-base sm:text-lg mt-5">
			In case you would like to get to know me a little better, feel free to stay a while and read more <strong><a href="/about-me" class="underline">about me.</a></strong>
			If you are curious about my work you can browse through some of my previous <strong><a href="/projects" class="underline">projects.</a></strong>
		</p>
	</div>
</Layout>