---
---
<div class="w-screen h-screen flex flex-row justify-center items-center">
    <div class="max-w-3xl">
        <h1 class="text-left font-bold text-xl sm:text-5xl">
            It's not your fault... 🥲
        </h1>
        <p class="text-sm sm:text-lg">
            It's mine. I am sorry, this page is not ready yet. <br>
            Can we still be friends?
        </p>
    </div>
</div>