---
import Layout from "../layouts/Layout.astro";

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Vincent Dorian</title>
  </head>
  <body>
    <div class="w-screen h-screen flex flex-row justify-center items-center">
        <div class="max-w-3xl">
            <h1 class="text-left font-bold text-2xl sm:text-5xl">
                It's not your fault... 🥲
            </h1>
            <p class="text-lg sm:text-xl">
                It's mine. I am sorry, this page is not ready yet. <br>
                Can we still be friends?
            </p>
        </div>
    </div>
</body>
</html>
