---
import Layout from "../layouts/Layout.astro";

---

<Layout>
    
        <div class="max-w-3xl">
            <h1 class="text-3xl sm:text-4xl font-bold">
                It's not your fault... 🥲
            </h1>
            <p class="text-base sm:text-lg mt-5">
                It's mine. I am sorry, this page is not ready yet. <br>
                Can we still be friends?
            </p>
        </div>

</Layout>