---
import Layout from "../../layouts/Layout.astro"
---
<Layout title={"Projects"}>
    <p class="prose">
      Soon you will be able to view some of my projects here. Until then you can have a look at my GitHub.
    </p>
</Layout>