---
import Layout from "./Layout.astro"

const {frontmatter} = Astro.props
---

<Layout>    
    <div class="max-w-3xl -mt-8">
        <span>
            <a href="/blog" class="text-gray-800">
                &larr; back to overview
            </a>
        </span>

        <h1 class="text-3xl sm:text-4xl font-bold">
            {frontmatter.title}
        </h1>
        
        
        
        <div class="text-base sm:text-lg mt-5">
            <slot />
        </div>
    </div>
</Layout>