---
const { pathname } = Astro.url;

const { title } = Astro.props;

const links = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "About",
    href: "/about",
  },
  {

    name: "Blog",
    href: "/blog",
  },
  {
    name: "Projects",
    href: "/projects",
  },
];

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="I create and explore.">
    <meta name="generator" content={Astro.generator} />
    <title>Vincent Dorian {title !== 'Vincent Dorian' ? '| ' + title : ''}</title>
  </head>
  <body class="max-w-5xl mx-auto mt-5 px-5 sm:mt-20 flex flex-col sm:flex-row gap-5">
    <aside class="w-full sm:w-56 flex flex-row sm:flex-col gap-5 items-center sm:items-start">
      <img src="https://avatars.githubusercontent.com/u/60883844?v=4" alt="Vincent Dorian" class="w-16 sm:w-24 h-16 sm:h-24 rounded-full bg-red-100 content-center object-scale" />
      <span class="font-light text-gray-700">
          I love to create and explore. <br>Trying to shape tomorrow.
      </span>
    </aside>
    <div>
      <header>
        <nav
          class="flex flex-row items-center gap-x-5 text-gray-900"
        >
          {
            links.map((link) => 
              (<a
                class={`relative text-xl w-fit block after:block after:content-[''] after:absolute after:h-px after:bg-black after:w-full tracking-wide font-light ${pathname === link.href
                    ? "" :  "after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-left"}`
                }
                href={link.href}
              >
                {link.name}
              </a>)
            )
          }
        </nav>
    </header>
    <main class="text-gray-800 mt-6 mb-5">
      <h1 class="text-3xl sm:text-4xl font-light text-gray-900">{title} </h1>
        <slot />
        </main>
    </div>
   
  </body>
</html>