---
const { pathname } = Astro.url;

const links = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "About me",
    href: "/about-me",
  },
  {

    name: "Blog",
    href: "/blog",
  },
  {
    name: "Projects",
    href: "/projects",
  },
];

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="description" content="I am a full-stack developer build fast, reliable and intuitive web apps.">
    <meta name="generator" content={Astro.generator} />
    <title>Vincent Dorian</title>
  </head>
  <body>
    <header
      class="max-w-7xl w-full mx-auto px-5 sm:px-8 2xl:px-0 flex flex-col items-start justify-start pt-8 sm:pt-12"
    >
    <a href="/" class="text-2xl font-bold text-gray-800">
      Vincent Dorian
    </a>
    
      <nav
        class="flex flex-row items-center gap-x-5 py-5 font-semibold tracking-wide text-gray-900"
      >
        {
          links.map((link) => 
            (<a
              class={
                pathname === link.href
                  ? "relative text-xl w-fit block after:block after:content-[''] after:absolute after:h-1 after:bg-black after:w-full"
                  : "relative text-xl w-fit block after:block after:content-[''] after:absolute after:h-1 after:bg-black after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
              }
              href={link.href}
            >
              {link.name}
            </a>)
          )
        }
      </nav>
    </header>
    
    <main class="max-w-7xl w-full mx-auto px-5 sm:px-8 2xl:px-0 pt-4 sm:pt-6 pb-5 text-gray-800">
      
      <slot />
    </main>
  </body>
</html>
